.header {
display: flex;
justify-content: space-between;

border-bottom-width: thin;
border-bottom-style: solid;
border-color: black;
}



a {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.logo span {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  order: 2;
  margin: 5px;
  margin-bottom: 40px;
}

.logo nav {
  
  color: black;
}
