* {


  box-sizing: border-box;
}





.header {
display: flex;
justify-content: space-between;

border-bottom-width: thin;
border-bottom-style: solid;
border-color: black;
}



a {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.logo span {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  order: 2;
  margin: 5px;
  margin-bottom: 40px;
}

.logo nav {

  color: black;
}

.main_container {

margin-top: 10px;
display: flex;
border-style: solid;
border-width: thin;
border-color: black;

justify-content: space-between;
}

.column_large {
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
  width: 630px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.column_medium {
  display: flex;
  margin-top: 20px;

  width: 300px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}


.column_small {
  display: flex;
  margin-top: 20px;
  margin-right: 15px;

  width: 240px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}





}
